@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #fafafa;
  --card: #151515;
  --card-foreground: #fafafa;
  --popover: #000000;
  --popover-foreground: #fafafa;
  --primary: #ffff55;
  --primary-foreground: #1c1c1c;
  --secondary: #27272a;
  --secondary-foreground: #fafafa;
  --muted: #27272a;
  --muted-foreground: #a1a1aa;
  --accent: #ffff55;
  --accent-foreground: #1c1c1c;
  --destructive: #ff5555;
  --destructive-foreground: #fafafa;
  --border: #3f3f3f;
  --input: #111111;
  --ring: #ffff55;
  --radius: 0px;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--color-card-foreground);
  --color-border: var(--border);
  --font-sans: var(--font-inter), ui-sans-serif, system-ui;
  --font-display: var(--font-outfit), ui-sans-serif, system-ui;
  --font-vt323: var(--font-vt323), monospace;
  
  --animate-spotlight: spotlight 2s ease .75s 1 normal forwards;
  --animate-scroll: scroll var(--animation-duration, 40s) var(--animation-direction, forwards) linear infinite;
  --animate-shimmer: shimmer 2s linear infinite;

  @keyframes spotlight {
    0% {
      opacity: 0;
      transform: translate(-72%, -62%) scale(0.5);
    }
    100% {
      opacity: 1;
      transform: translate(-50%, -40%) scale(1);
    }
  }

  @keyframes scroll {
    to {
      transform: translate(calc(-50% - 0.5rem));
    }
  }

  @keyframes shimmer {
    from {
      background-position: 0 0;
    }
    to {
      background-position: -200% 0;
    }
  }
}

@utility font-vt323 {
  font-family: var(--font-vt323);
}

html {
  scroll-behavior: smooth;
  background-color: #000000;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
  overflow-x: hidden;
}

/* Custom Minecraft Scrollbar */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #1c1c1c;
  border-left: 3px solid #000000;
}

::-webkit-scrollbar-thumb {
  background: #8b8b8b;
  border: 3px solid #1c1c1c;
  box-shadow: inset 1px 1px 0px #dfdfdf, inset -1px -1px 0px #3f3f3f;
}

::-webkit-scrollbar-thumb:hover {
  background: #9c9c9c;
}

/* Selection Color */
::selection {
  background-color: #ffff55;
  color: #000000;
}
